SmallDatabaseIcon01 RCDATA Resource\DatabaseIcons\Small01.ico
SmallDatabaseIcon02 RCDATA Resource\DatabaseIcons\Small02.ico
SmallDatabaseIcon03 RCDATA Resource\DatabaseIcons\Small03.ico
SmallDatabaseIcon04 RCDATA Resource\DatabaseIcons\Small04.ico
SmallDatabaseIcon05 RCDATA Resource\DatabaseIcons\Small05.ico
SmallDatabaseIcon06 RCDATA Resource\DatabaseIcons\Small06.ico
SmallDatabaseIcon07 RCDATA Resource\DatabaseIcons\Small07.ico
SmallDatabaseIcon08 RCDATA Resource\DatabaseIcons\Small08.ico
SmallDatabaseIcon09 RCDATA Resource\DatabaseIcons\Small09.ico
SmallDatabaseIcon10 RCDATA Resource\DatabaseIcons\Small10.ico
SmallDatabaseIcon11 RCDATA Resource\DatabaseIcons\Small11.ico
SmallDatabaseIcon12 RCDATA Resource\DatabaseIcons\Small12.ico
SmallDatabaseIcon13 RCDATA Resource\DatabaseIcons\Small01T.ico
SmallDatabaseIcon14 RCDATA Resource\DatabaseIcons\Small02T.ico
SmallDatabaseIcon15 RCDATA Resource\DatabaseIcons\Small03T.ico
SmallDatabaseIcon16 RCDATA Resource\DatabaseIcons\Small04T.ico
SmallDatabaseIcon17 RCDATA Resource\DatabaseIcons\Small05T.ico
SmallDatabaseIcon18 RCDATA Resource\DatabaseIcons\Small06T.ico
SmallDatabaseIcon19 RCDATA Resource\DatabaseIcons\Small07T.ico
SmallDatabaseIcon20 RCDATA Resource\DatabaseIcons\Small08T.ico
SmallDatabaseIcon21 RCDATA Resource\DatabaseIcons\Small09T.ico
SmallDatabaseIcon22 RCDATA Resource\DatabaseIcons\Small10T.ico
SmallDatabaseIcon23 RCDATA Resource\DatabaseIcons\Small11T.ico
SmallDatabaseIcon24 RCDATA Resource\DatabaseIcons\Small12T.ico
LargeDatabaseIcon01 RCDATA Resource\DatabaseIcons\Large01.ico
LargeDatabaseIcon02 RCDATA Resource\DatabaseIcons\Large02.ico
LargeDatabaseIcon03 RCDATA Resource\DatabaseIcons\Large03.ico
LargeDatabaseIcon04 RCDATA Resource\DatabaseIcons\Large04.ico
LargeDatabaseIcon05 RCDATA Resource\DatabaseIcons\Large05.ico
LargeDatabaseIcon06 RCDATA Resource\DatabaseIcons\Large06.ico
LargeDatabaseIcon07 RCDATA Resource\DatabaseIcons\Large07.ico
LargeDatabaseIcon08 RCDATA Resource\DatabaseIcons\Large08.ico
LargeDatabaseIcon09 RCDATA Resource\DatabaseIcons\Large09.ico
LargeDatabaseIcon10 RCDATA Resource\DatabaseIcons\Large10.ico
LargeDatabaseIcon11 RCDATA Resource\DatabaseIcons\Large11.ico
LargeDatabaseIcon12 RCDATA Resource\DatabaseIcons\Large12.ico
LargeDatabaseIcon13 RCDATA Resource\DatabaseIcons\Large01T.ico
LargeDatabaseIcon14 RCDATA Resource\DatabaseIcons\Large02T.ico
LargeDatabaseIcon15 RCDATA Resource\DatabaseIcons\Large03T.ico
LargeDatabaseIcon16 RCDATA Resource\DatabaseIcons\Large04T.ico
LargeDatabaseIcon17 RCDATA Resource\DatabaseIcons\Large05T.ico
LargeDatabaseIcon18 RCDATA Resource\DatabaseIcons\Large06T.ico
LargeDatabaseIcon19 RCDATA Resource\DatabaseIcons\Large07T.ico
LargeDatabaseIcon20 RCDATA Resource\DatabaseIcons\Large08T.ico
LargeDatabaseIcon21 RCDATA Resource\DatabaseIcons\Large09T.ico
LargeDatabaseIcon22 RCDATA Resource\DatabaseIcons\Large10T.ico
LargeDatabaseIcon23 RCDATA Resource\DatabaseIcons\Large11T.ico
LargeDatabaseIcon24 RCDATA Resource\DatabaseIcons\Large12T.ico

