<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <connectionStrings>
        <add name="ServerLogsContainer" providerName="System.Data.SqlClient" connectionString="Data Source=(localdb)\v11.0;Integrated Security=true;AttachDbFilename=D:\Temp\ServerCalls\ServerCalls.mdf"/>
    </connectionStrings>

    <appSettings>
        <add key="LogsDir" value="D:\Temp\ServerCalls\2016-02-01"/>    
    </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>